.toolbar{
    height: 6rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.buttons button{
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: #16022b;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
}

.buttons button:hover, .buttons button:focus{
    color: #16022b;
    background-clip: padding-box;
    cursor: pointer;
}

.toolsList{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.textTools, .linkTools, .listTools{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.textTools i, .linkTools i, .listTools i{
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.textTools i:hover, .linkTools i:hover, .listTools i:hover{
    color: #16022b;
}